<mat-list>
  <h3 mat-subheader>兽医</h3>
  <mat-list-item>
    <button mat-button color="primary" class="button" routerLink="/tool/vets">兽医</button>
  </mat-list-item>
  <mat-divider></mat-divider>
  <h3 mat-subheader>客户</h3>
  <mat-list-item>
    <button mat-button color="primary" class="button" routerLink="/tool/ownerlist">用户列表</button>
  </mat-list-item>
  <mat-list-item>
    <button mat-button color="primary" class="button" routerLink="/tool/addowner">添加用户</button>
  </mat-list-item>
  <mat-divider></mat-divider>
  <h3 mat-subheader>宠物</h3>
  <mat-list-item>
    <button mat-button color="primary" class="button" routerLink="/tool/petlist">宠物列表</button>
  </mat-list-item>
</mat-list>
